<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Smart Traffic</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

  <!-- Demo Dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}" />
  <script src="{{ url_for('static', filename='jquery-3.2.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js')}}"></script> -->

  <!-- Mapbox Dependencies -->
  <link href="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css" rel="stylesheet" />
  <!-- <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js" type="text/javascript"></script> -->

  <!-- keen-analysis@1.2.2 -->
  <script src="https://d26b395fwzu5fz.cloudfront.net/keen-analysis-1.2.2.js" type="text/javascript"></script>

  <!-- keen-dataviz@1.1.3 -->
  <link href="https://d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.css" rel="stylesheet" />
  <script src="https://d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.3.js" type="text/javascript"></script>

  

  <!-- Dashboard -->
  <!--<link href="../../assets/css/keen-dashboards.css" rel="stylesheet" type="text/css" />-->
  <link href="{{ url_for('static', filename='sfmta-demo.css')}}" rel="stylesheet" />
  <script type="text/javascript" src="{{ url_for('static', filename='sfmta-demo.js')}}"></script>
</head>
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
 
</style>

<body class="keen-dashboard" style="padding-top: 70px;">
  <div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
              </ul>
            </div>
          </nav>
    

      <div class="col-sm-6">

        <div class="row">
          <div class="col-sm-12">
            <div id="chart1">
            </div>
            <br>
          </div>
          <div class="col-sm-12">
            <div id="chart2"><h1></h1></div>
            <br>
          </div>
          <div class="col-sm-12">
            <div id="chart3"></div>
            <br>
          </div>
        </div>

      </div>

      <div class="col-sm-6" id="mapbox-panel">
        <div id="map"></div>
      </div>
        
     

    </div>


  </div>

  <div class="modal_add">
    <div class="modal" tabindex="-1" role="dialog" id="add_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Configuration du panneau</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <div class="row">
                    <div class="col-md-6">
                        <strong>Vitesse à recommander</strong> 
                        <br>
                        <select class="form-control"  name="type" id="panel_name">
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="60" selected>60</option>
                            <option value="80">80</option>
                            <option value="100">100</option>
                        </select> 
                        <br>
                        <strong>Information diffusée</strong> 
                        <textarea placeholder="Message à diffuser" class="form-control" name="panel_msg" id="panel_msg"></textarea>
                    </div>
                    <div class="col-md-6">
                      <img src="{{ url_for('static', filename='60.jpg')}}" id="speedImg"/>
                      </div>
                  </div>
                    
               </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="envoyer">envoyer</button>
            <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Project Analytics -->

    <script>
      var map;
      var center = {lat: 36.7525, lng: 3.04197};
      var panel1 ={lat: 36.7625, lng: 3.0590};
      var panel2 ={lat: 36.765575, lng: 3.057637};
      var panel3 ={lat: 36.761759, lng: 3.059816};

      var marker1 = new google.maps.Marker({
          position: panel1,
          label:"panel1"
        });
        var marker2 = new google.maps.Marker({
          position: panel2,
          label:"panel2",
          animation:google.maps.Animation.DROP
        });
        var marker3 = new google.maps.Marker({
          position: panel3,
          label:"panel3",
          animation:google.maps.Animation.DROP
        });


      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: panel1,
          zoom: 16
        });
        
      var marker1 = new google.maps.Marker({
          position: panel1,
          label:"panel1",
          map:map,
          animation:google.maps.Animation.DROP
        });
        var marker2 = new google.maps.Marker({
          position: panel2,
          label:"panel2",
          map:map,
          animation:google.maps.Animation.DROP
        });
        var marker3 = new google.maps.Marker({
          position: panel3,
          label:"panel3",
          map:map,
          animation:google.maps.Animation.DROP
        });
      
      map.addListener('center_changed', function() {
          // 3 seconds after the center of the map has changed, pan back to the
          // marker.
          window.setTimeout(function() {
            map.panTo(marker.getPosition());
          }, 3000);
        });

        marker1.addListener('click', function() {
          $('#add_modal').modal();
        });
        marker2.addListener('click', function() {
          $('#add_modal').modal();
        });
        marker3.addListener('click', function() {
          $('#add_modal').modal();
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2chAcW-_uj54GdS4BdHQCH9V7RS3os7E&callback=initMap"
     async defer></script>

     <script>

       $(document).ready(function(){

        var currentSpeed = 60 ;
        var currentMsg = "Attention! Chasséu glissante" ;

        $("#panel_msg").val(currentMsg) ;

        $(document).on("click", "#envoyer", function() {
                currentSpeed = $("#panel_name option:selected").text() ;
                currentMsg = $("#panel_msg").val() ;

                var data = {
                    panel_name : currentSpeed,
                    panel_msg: currentMsg
                } ;
                 currentMsg = panel_msg
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/modifysign",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function(result) {
                        console.log(result.res) ;
                    }
                })
            }) ;



            $(document).on("change", "#panel_name", function(){
                var panel_speed = $("#panel_name option:selected").text() ;
                console.log(panel_speed)
                $("#speedImg").attr("src", "/static/" + panel_speed + ".jpg") ;
            }) ;
       }) ;
    </script>
    <script src="{{ url_for('static', filename='charts.js')}}"></script>
</body>
</html>
